h1{display:block;height: 80px;text-align: center}
h1 span{display:inline}
#year{position: relative;}
img{display:block;margin: auto;}
#logo{width: 100px;height: 100px;position: absolute;bottom: -40px;right: 140px;display:block;}